<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <section class="container" >
        <div class="content">
            <div class="souscontent">
            <div class="bloc1">
                <div class="decorationbloc"></div>
                <img src="//images03.nicepage.com/c461c07a441a5d220e8feb1a/483b4e1e31f25f7f9bda4d9a/3546919min.jpg" alt=""  width="370" height="480">
            </div>
            <div class="bloc2">
                <h1 class="titre">About Us</h1>
                <p class="textdeco">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  </p>
            </div>
        </div>
        </div> -->
<section class="container" >
        <div class="souscontainer">
            <div class="content">
                <div class="souscontent">
                    <div class="grandbloc">
                      <div class="blocimage">
                        <div class="sousblocimage">
                         
                              <div class="deco">
                                <div class="sousdeco">
                                  <img class="sketch-button" src="./assets/im6.jpg" alt=""  width="368" height="480">
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="content2">
                            <div class="souscontent2">
                                  <h1 class="titre">About Me</h1>
                                  <p class="textdeco">Welcome !<br/>
                                    <br/>My name is Racha Ghariani,I'm 21 years old,I am acurrently a 2nd year student in computer science and multimedia at sesame university.During my internship at takolor, I created this project called stock management.this project consists of storing the data and which in turn calculates the quantity of each order consumed by the customer.In addition,you can delete the order and modify each element in the crud.</p>
                                 
                          </div>
                          
                     <div class="decalage">
                       
                        <div class='button'style="margin-top:195px;margin-left:1055px;">
                            <br/>
                            <br/>
                            <input id='button' type='checkbox'>
                            <label for='button'>
                                <div class='button_inner q'>
                                    <i class='l ion-log-in'></i>
                                    <span class='t'  routerLink="/Home">Back Home </span>
                                    <span>
                                        <i class='tick ion-checkmark-round'></i>
                                    </span>
                                    <div class='b_l_quad'>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                        <div class='button_spots'></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
    </section>
    <hr style="margin-top:48px"/>
    <footer style="padding-top:15px;display:flex;justify-content: center; font-size:16px;">
        <p> Copyright &copy; 2022 Racha Ghariani - all reproduction prohibited</p>
    </footer>

</body>
</html>
